@model SimpleCRM.Models.OrganizationModel.OrganizationDetail

@{
    ViewBag.Title = "Details";
}
<div class="jumbotron">
    <h2>Organization Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrganizationAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizationAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrganizationIndustry)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizationIndustry)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUtc)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganizationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
